[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=SocialHand
Exec=/usr/bin/single-instance /opt/SocialHand/bin/SocialHand
Icon=/usr/share/icons/hicolor/80x80/apps/SocialHand80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
